<style>
{literal}
	/* .top_div { width: 790px;  } */

	a.main_item {
		display: block; text-decoration: none; font-weight: bold;
		height: 50px; width: 280px; 
		margin: 10px; padding: 3px; padding-left: 10px;
	}
	a.main_item:link,  a.main_item:visited { 
		color: black; 
		border: 1px solid #A2B9DF; 
		background: #EFF2FA;
		
	}
	a.main_item:hover, a.main_item:active  { 
		color: #CABB00; text-decoration: none; 
		border: 1px solid #A2B9DF; 
		background: #E9EDF8;
	}
	a.main_item p { color: black; font-weight: normal; font-size: smaller; }
	 
	group1 { float: left; }
	
{/literal}
</style>

<table border="0px" width="100%;" cellspacing="0px">
	<tr>
		<td rowspan="2" style="border: 1px solid #DADADA;" valign="top">
			<div style="margin: 10px 10px 0; padding: 2px 7px;;  border: 1px solid #93D7B7; background: #DDF7F3; font-weight: bold; ">
				{trans str="Latest Announcements"}
			</div>
			<div style="margin: 0 10px 10px; padding: 7px; border: 1px solid #93D7B7; border-top: none; background: #F5FCFC; height: 160px; font-size: x-small; color: #606060; overflow-y: auto;">
			
				{if count($anns) > 0}
					{foreach item=ann from=$anns}
					<div style="font-weight: bold; padding-bottom: 3px;">{$ann.ann_date|date_format:"%d %b %Y"} {$ann.ann_caption}</div>
					<div>{$ann.ann_short}</div>
					<div style="text-align: right;"><a href="index.php?module=UserArea&action=Index&ann_id={$ann.ann_id}">{trans str="Full..."}</a></div>
					<hr size="1" noshade />
					{/foreach}
				{else}
					<div style="font-weight: bold; padding-bottom: 3px;">{php}echo date("d M Y"){/php} {trans str="Welcome to OHD!"}</div>
					<div>
						
						{trans str="Use this area  to  welcome your users and guests and to offer assistance as may be required, for example:"}  <br />
						{trans str='"Welcome to Omin Help Desk!  Use the handy links at right for quick  and easy access.  If you have other question, please submit them to'}
						<a href="email:support@omnihelpdesk.com">support@omnihelpdesk.com</a>."
					
						<!-- Welcome to OMNI HELPDESK!  Use the handy links at right for quick and easy access.  
						If you have questions, please let us know at <a href="email:support@omnihelpdesk.com">support@omnihelpdesk.com</a>.   -->

						<!--
					
						Thank you for using OMNI HELPDESK. We glad to have new customers. If you have some qustions, please send email 
						with questions or suggestions to:
						<a href="email:support@omnihelpdesk.com">support@omnihelpdesk.com</a>. 
						<div style="text-align: right">Thanks!</div>-->
					</div>
					<hr size="1" noshade="noshade" style="width: 100%;" />
				{/if}
			</div>
		</td>
		{if isset($ann_full)}
		<td valign="top" width="633px"  style="border-top: 1px solid #DADADA;height: 150px;">
			<div style="margin: 10px;">
				<div style="font-weight: bold; padding: 0; margin-bottom: 10px;">{$ann_full.ann_date|date_format:"%d %b %Y"} - {$ann_full.ann_caption}</div>
				{$ann_full.ann_full|nl2br}
			</div>
		</td>
		{else}
		<td width="280px;" style="border-top: 1px solid #DADADA;">
			<a class="main_item" href="index.php?module=Tickets&action=TicketsAdd">
				{trans str="New Ticket"}
				<p style="padding-top: 4px;">{trans str="For quick attention and response from a tech, submit your support query here."}</p>
				<!-- p style="padding-top: 4px;">Submit a new support ticket for a quick reply from one of our representatives.</p -->
			</a>
			<a class="main_item" href="index.php?module=UserArea&action=LookupTicket">
				{trans str="My Tickets"}
				<p style="padding-top: 4px;">{trans str="Lose your ticket number?  Easily view, modify and monitor the status of your open ticket here."}</p>
				<!-- p style="padding-top: 4px;">Lost your ticket number? Easily view, modify, or check the status of your existing ticket.</p -->
			</a>
			<!-- 
			<a class="main_item" href="#">
				Search Ticket
				<p>Submit a support ticket for a prompt reply from a support representative.</p>
			</a> -->
		</td>
		<td width="280px;" style="border-top: 1px solid #DADADA; border-right: 1px solid #DADADA;">
			<a class="main_item" href="index.php?module=KnowledgeBase&action=Categories">
				{trans str="Knowledge Base"}
				<p style="padding-top: 4px;">{trans str="Quickly access a host of articles relating to your issue!"}</p>
				<!-- p style="padding-top: 4px;">Quickly find articles related your issue using our online knowlege base.</p -->
			</a>
			
			<a  class="main_item" href="index.php?module=UserArea&action=Register">
				{trans str="Register"}
				<p style="padding-top: 4px;">{trans str="Register a new account so begin submitting and tracking your tickets."}</p>
				<!-- p style="padding-top: 4px;">Get a complete detailed walkthrough using our online Tutorial/Manual.</p -->
			</a>
		</td>
		{/if}
		
	</tr>
	<tr>
		<td colspan="2" style="border-bottom: 1px solid #DADADA; border-top: 1px solid #DADADA; border-right: 1px solid #DADADA;">
			<div style="margin: 10px; padding: 7px; border: 1px solid #A2B9DF; background: #EFF2FA;">
				<form action="" method="get">
					<input type="hidden" name="module" value="KnowledgeBase" />
					<input type="hidden" name="action" value="Search" />
					
					{trans str="Search in Knowledge Base:"} <input type="text" name="text" style="width: 250px;"/>
					<input type="submit" value="{trans str="Search..."}" />
				</form>
			</div>
		</td>
	</tr>
</table>
