<div style="float: none;">
	<div class="page_caption">{trans str="Retrieve Password Form"}</div>
</div>

{if is_array($message)} 
	{foreach item=msg from=$message}
		<div style="padding-top: 2px;">{$msg.caption}<span style="color: red;">{$msg.message}</span></div>
	{/foreach}
{else}
	<div style="padding-top: 2px;">{$message_caption}<span style="color: red;">{$message}</span></div>
{/if}  

<table class="vpage" border="0px" width="100%;" cellspacing="0px">
<form action="index.php?module=UserArea&action=RestorePass" method="post">
	<thead>
		<th colspan="2">User Info</th>
	</thead>
	
	{if !empty($res_message)}
	<tr>
		<td colspan="2" style="padding: 5px 10px 9px; text-align: center;">{$res_message}</td>
	</tr>
	{else}
	<tr>
		<td colspan="2" style="padding: 5px 10px 9px;">{trans str="Please fill email form and press submit button."}</td>
	</tr>

	<tr>
		<th width="40%">{trans str="Email:"}</th>
		<td><input name="user_data[user_email]" value="{$user_data.user_email}" style="width: 200px;" /></td>
	</tr>
	
	<tr>
		<td colspan="2" align="center" style="padding: 5px;">
			<input type="submit" value="{trans str="Submit Form"}" />
		</td>
	</tr>

	{/if}
	
</form>
</table>
