<div style="float: none;">
    <div class="page_caption">{trans str="Knowledge Base"}</div>
</div>

<table class="page" cellpadding="5px" cellspacing="0">
	<tr><th colspan="3">{trans str="Category Listing"}</th></tr>
	<tr>
		<td>
			<!-- CATS PATH AND UTILITES -->
			<div class="path">
				<table cellpadding="0" cellspacing="0" width="100%" border="0px">
					<tr>
						<td>{$cats_path}</td>
					</tr>
				</table>
			</div>
			<!-- /CATS PATH AND UTILITES -->        
			
			{if $msg}
			<div style="color: red;">{$msg}</div>
			{/if}
	
			<!-- CAPTION --
			<div style="font-size: 16px; font-weight: bold;">{$directory_caption}</div>
			!-- /CAPTION -->
			
			{if count($items) == 0 && count($categories) == 0} 
				<div style="padding: 0 0 10px 10px;">{trans str="There is no any items and categories, yet..."}</div>
			{/if}
			
			
			<!-- MOST RATED AND VIEWED ITEMS -->
			{if !empty($most_rated) || !empty($most_viewed)}
			<table border="0px" width="100%">
				<tr>
					{if !empty($most_rated)}
					<td width="50%">{include file="kb_category-itemslist.html" items_caption="Most Rated Items:" items_list=$most_rated}</td>
					{/if}
					<td width="50%">{include file="kb_category-itemslist.html" items_caption="Most Viewed Items:" items_list=$most_viewed}</td>
				</tr>
			</table>
			<hr noshade="noshade" size="1" style="color: silver;" />
			{/if}
			<!-- /MOST RATED AND VIEWED ITEMS -->
			
			<!-- CATEGORY ITEMS -->    
			{include file="kb_category-itemslist.html" items_caption="Category Items:" items_list=$items}
			<!-- /CATEGORY ITEMS --> 
			
			<!-- CATEGORIES -->
			{if count($categories) > 0}
			<table cellspacing="0" cellpadding="0" border="0px">
				<tr>
					<td style="font-size: 15px; font-weight: bold; color: #007EFD; padding-bottom: 5px;" 
						colspan="{$rows_count}">
						{trans str="Sub-Categories"}:
					</td>
				</tr>        
				{foreach name="categoryLoop" key=key item=item from=$categories[0]} 
				<tr>
					{foreach name="categoryLoop2" item=category from=$categories} 
					<td width="{$rows_width}%" valign="top" style="padding-right: 12px;">
						{if isset($category[$key])}
						<table cellpadding="2" cellspacing="0">
							<tr>
								<td align="left" class="kb_caption" style="padding-left: 7px;">
									<a href="?cat_id={$category[$key].id}">{$category[$key].caption}</a>
									({$category[$key].cats_cnt}/{$category[$key].items_cnt})
								</td>
							</tr>
							<tr>
								<td style="padding-left: 15px; padding-bottom: 10px;">
									<div class="kb_notes">{$category[$key].notes}</div>
								</td>
							</tr>
						</table>
						{else}
						&nbsp;
						{/if}
					</td>
					{/foreach}
				</tr>
				{/foreach}
			</table>
			{/if}
			<!-- /CATEGORIES -->
		</td>
	</tr>
</table>
