<html>
<head>
<title>{trans str="Redirecting..."}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="refresh" content="1;URL={$redirect_url}">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" height="200">{trans str="Redirecting..."}<br>
      <a href="{$redirect_url}">{trans str="click here if system do not redirects you"}</a></td>
  </tr>
</table>
</body>
</html>
