<p  style="font-family: Verdana; font-size: 10px">
{trans str="Thank you for submitting your ticket. There is no need to submit another ticket. "}
<br />
{trans str="We can simply re-open your ticket if you have more problems in the future. "}

{trans str="You can monitor your ticket anytime by pointing your web browser here"}:  <br /> 
<!-- You can view the current status of your ticket using this URL: <br /> -->

<div style="margin-left: 10px; border: 1px solid black; padding: 3px; text-align: center;">
<a  href="{$ticket_url}" 
style="color: #676FFE; font-family: Verdana; font-size: 11px">{$ticket_url}</a>
</div>

<br />
{trans str="An e-mail with your ticket number and link have been sent to you as well."}
</p>