<script language="Javascript1.2">
function CheckInput()
{ldelim}
	var inp = document.getElementById('cat_caption');
	if (inp.value == '')
	{ldelim}
		alert('{trans str="Please, enter category caption."}');
		inp.focus();
		return false;
	{rdelim}
	return true;
{rdelim}

</script>

<div style="float: none;">
	<div class="page_caption">{trans str="Knowledge Base"}</div>
</div>

{if $message} 
	<div style="padding-top: 2px;">{$message_caption}<span style="color: red;">{$message}</span></div>
{/if} 


<table class="page" cellpadding="5px" cellspacing="0">
	<tr>
		<th>{trans str=$page_caption}</th>
	</tr>
	<tr>
		<td>
		
			<div class="path" style="padding: 2px;">{$cats_path}</div>  
			{if $msg}
			<div style="color: red;">{$msg}</div>
			{/if}
			
			<div style="font-size: 10pt">{trans str="Note: Required fields are denoted by"} <span style="color: maroon;">*</span></div>

			<form method="post" id="category_form">
			<table cellspacing="5" border="0px" width="100%">
				<tr>
					<td valign="top" align="right" width="100px">
						{trans str="Category"}<span style="color: maroon;">*</span>:
					</td>
					<td>
					   <select name="cat_parent_id" style="width: 270px;">
						   {html_options options=$cat_options selected=$cat_parent_id}
					   </select>            
					</td>
				</tr>
				<tr>
					<td valign="top" align="right">
						{trans str="Caption"}<span style="color: maroon;">*</span>:
					</td>
					<td><input type="text" id="cat_caption" name="cat_caption" style="width: 270px;" value="{$cat_caption}" /></td>
				</tr>
				<tr>
					<td valign="top" align="right">
						{trans str="Notes:"}
					</td>
					<td>{$cat_notes}</td>
				</tr>        
				<tr>
					<td></td>
					<td align="right">
						<input type="submit" name="submit_category" value="{trans str=$submit_button_caption}" onclick="return CheckInput();">
					</td>
					<td></td>
				</tr>
			</table>
			</form>
		
		</td>
	</tr>
</table>



